/* ROOT */
.root {
    -fx-background-color: #DDE9F8;
}

/* TAB PANE */
.tab-pane .tab-header-area .tab-header-background {
    -fx-opacity: 0;
}

.tab {
    -fx-background-color: transparent;
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
    -fx-padding: 5;
}

.tab:selected {
    -fx-effect: dropshadow(one-pass-box, rgba(0, 0, 0, 0.25), 16, 0, 0.0, 0.0);
}

.tab:hover {
    -fx-effect: dropshadow(one-pass-box, rgba(0, 0, 0, 0.25), 16, 0, 0.0, 0.0);
}

.overview-tab .image-view {
    -fx-image: url("../resources/navbar/Overview-ico.png");
}

.overview-tab:selected .image-view {
    -fx-image: url("../resources/navbar/Overview-ico-active.png");
}


.event-tab .image-view {
    -fx-image: url("../resources/navbar/Events-ico.png");
}

.event-tab:selected .image-view {
    -fx-image: url("../resources/navbar/Events-ico-active.png");
}

.customer-tab .image-view {
    -fx-image: url("../resources/navbar/Customer-ico.png");
}

.customer-tab:selected .image-view {
    -fx-image: url("../resources/navbar/Customer-ico-active.png");
}

.ticket-tab .image-view {
    -fx-image: url("../resources/navbar/Tickets-ico.png");
}

.ticket-tab:selected .image-view {
    -fx-image: url("../resources/navbar/Tickets-ico-active.png");
}

/* TABLE VIEW */
.table-view {
    -fx-background-color: transparent;
    -fx-padding: 0;
    -fx-effect: dropshadow(one-pass-box, rgba(0, 0, 0, 0.25), 8, 0, 2.0, 2.0);
}

.table-view .column-header-background .filler {
    -fx-background-color: transparent;
}

.table-view .corner {
    -fx-background-color: transparent;
}

.table-view .column-header-background {
    -fx-background-color: #FFF;
    -fx-background-radius: 10px 10px 0px 0px;
    -fx-padding: 0 0 5px 0;
}

.table-view .column-header {
    -fx-background-color: transparent;
}

.table-view .column-header .label {
    -fx-text-fill: #000;
    -fx-font-size: 16pt;
}

.table-view .table-cell {
    -fx-border-color: transparent;
    -fx-padding: 2 0 2 8px;
}

.table-row-cell {
    -fx-background-color: #FFF;
}

.table-row-cell:filled:hover {
    -fx-background-color: #8293E3;
}

.table-row-cell:selected {
    -fx-background-color: #8293E3;
}

.table-row-cell:selected .text {
    -fx-fill: #FFF;
}

.table-view .virtual-flow .scroll-bar .increment-button,
.table-view .virtual-flow .scroll-bar .decrement-button {
    -fx-opacity: 1;
    -fx-padding: 4;
}

.table-view .virtual-flow .scroll-bar:vertical {
    -fx-background-color: #FFF;
}

.table-view .virtual-flow .scroll-bar:horizontal {
    -fx-background-color: #FFF;
}

.table-view .virtual-flow .scroll-bar:vertical .thumb {
    -fx-background-color: #F7B449;
}

.table-view .virtual-flow .scroll-bar:horizontal .thumb {
    -fx-background-color: #F7B449;
}

/* TABLE VIEW BUTTONS */
.btnCreate {
    -fx-image: url("../resources/buttons/Create-ico.png");
}

.btnDelete {
    -fx-image: url("../resources/buttons/Delete-ico.png");
}

.btnUpdate {
    -fx-image: url("../resources/buttons/Update-ico.png");
}

.btnCreate:hover {
    -fx-image: url("../resources/buttons/Create-ico-active.png");
}

.btnDelete:hover {
    -fx-image: url("../resources/buttons/Delete-ico-active.png");
}

.btnUpdate:hover {
    -fx-image: url("../resources/buttons/Update-ico-active.png");
}

/* TABLE VIEW FILTER */
.text-field {
    -fx-background-color: #F7B449;
    -fx-background-radius: 0 0 10px 10px;
    -fx-prompt-text-fill: rgba(0, 0, 0, 0.8);
    -fx-effect: dropshadow(one-pass-box, rgba(0, 0, 0, 0.25), 8, 0, 2.0, 2.0);
}

.text-field:focused {
    -fx-background-color: #F7B449;
}