.list-box {
    -fx-background-radius: 10px;
    -fx-background-color: #FFF;
    -fx-effect: dropshadow(one-pass-box, rgba(0, 0, 0, 0.25), 8, 0, 2.0, 2.0);
}

.text-flow {
    -fx-background-color: transparent;
    -fx-padding: 5px 0 5px 0;
}

.list-view-header {
    -fx-font-size: 16pt;
}

.list-view {
    -fx-background-color: #FFF;
    -fx-background-insets: 0;
    -fx-padding: 0;
}

.list-cell {
    -fx-background-color: #FFF;
}

.list-cell:selected, .list-cell:filled:hover {
    -fx-background-color: #8293E3;
}

.list-cell:selected .text, .list-cell:filled:hover .text {
    -fx-fill: #FFF;
}

.decrement-arrow, .increment-arrow, .decrement-button, .increment-button {
    -fx-pref-width: 0;
    -fx-pref-height: 0;
}

.scroll-bar:vertical .thumb {
    -fx-background-insets: 0 1 0 1;
}

.scroll-bar:horizontal .thumb {
    -fx-background-insets: 1 0 1 0;
}

.scroll-bar {
    -fx-background-color: transparent;
    -fx-pref-width: 12;
    -fx-pref-height: 12;
    -fx-padding: 2;
}

.scroll-bar .thumb {
    -fx-background-color: rgba(0, 0, 0, .2);
    -fx-background-radius: 1000;
    -fx-pref-width: 12;
    -fx-pref-height: 12;
}