@font-face {
    font-family: Roboto;
    src: url('resources/Roboto-Regular.ttf');
}

.root {
    -fx-font-family: Roboto;
    -fx-background-color: #DDE9F8;
}

.login-label {
    -fx-font-size: 20pt;
}

.login-form-field {
    -fx-border-width: 0 0 2px 0;
    -fx-border-color: #7B61FF;
    -fx-background-color: -fx-control-inner-background;
    -fx-font-size: 10pt;
}

.login-form-field:focused {
    -fx-border-color: #5847AD;
    -fx-border-width: 0 0 2px 0;
}

.login-button {
    -fx-background-color: #8293E3;
    -fx-text-fill: #FFFFFF;
    -fx-background-radius: 0;
    -fx-font-size: 11pt;
    -fx-background-insets: 0 0 -1 0, 0, 1, 2;
}

.login-button:hover {
    -fx-background-color: #5847AD;
}