/* LEFT SIDE PANEL */
.events-default {
    -fx-image: url("../resources/images/EventsIcoDefault.png");
}

.tickets-default {
    -fx-image: url("../resources/images/TicketsIcoDefault.png");
}

.user-default {
    -fx-image: url("../resources/images/UserIcoDefault.png");
}

.events-default:hover {
    -fx-image: url("../resources/images/EventsIcoActive.png");
}

.tickets-default:hover {
    -fx-image: url("../resources/images/TicketsIcoActive.png");
}

.user-default:hover {
    -fx-image: url("../resources/images/UserIcoActive.png");
}

.events-active {
    -fx-image: url("../resources/images/EventsIcoActive.png");
}

.tickets-active {
    -fx-image: url("../resources/images/TicketsIcoActive.png");
}

.user-active {
    -fx-image: url("../resources/images/UserIcoActive.png");
}