/* SIDE PANEL */
.tab-pane .tab-header-area .tab-header-background {
    -fx-opacity: 0;
}

.tab {
    -fx-background-color: transparent;
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
    -fx-padding: 5;
}

.tab:selected {
    -fx-effect: dropshadow(one-pass-box, rgba(0, 0, 0, 0.25), 16, 0, 0.0, 0.0);
}

.tab:hover {
    -fx-effect: dropshadow(one-pass-box, rgba(0, 0, 0, 0.25), 16, 0, 0.0, 0.0);
}

.overview-tab .image-view {
    -fx-image: url("../resources/navbar/Overview-ico.png");
}

.overview-tab:selected .image-view {
    -fx-image: url("../resources/navbar/Overview-ico-active.png");
}


.event-tab .image-view {
    -fx-image: url("../resources/navbar/Events-ico.png");
}

.event-tab:selected .image-view {
    -fx-image: url("../resources/navbar/Events-ico-active.png");
}

.customer-tab .image-view {
    -fx-image: url("../resources/navbar/Customer-ico.png");
}

.customer-tab:selected .image-view {
    -fx-image: url("../resources/navbar/Customer-ico-active.png");
}

.ticket-tab .image-view {
    -fx-image: url("../resources/navbar/Tickets-ico.png");
}

.ticket-tab:selected .image-view {
    -fx-image: url("../resources/navbar/Tickets-ico-active.png");
}

.coordinator-tab .image-view {
    -fx-image: url("../resources/navbar/Coordinator-ico.png");
}

.coordinator-tab:selected .image-view {
    -fx-image: url("../resources/navbar/Coordinator-ico-active.png");
}

.logout-tab .image-view {
    -fx-image: url("../resources/navbar/Logout-ico.png");
}

.logout-tab:selected .image-view {
    -fx-image: url("../resources/navbar/Logout-ico-active.png");
}