.text-field {
    -fx-background-color: #FFF;
    -fx-background-radius: 0 0 0 10px;
    -fx-prompt-text-fill: rgba(0, 0, 0, 0.8);
}

.text-field:focused {
    -fx-background-color: #F7B449;
}

.button {
    -fx-background-color: #8293E3;
    -fx-background-radius: 0;
    -fx-text-fill: #FFF;
    -fx-background-insets: 0;
}

.button:hover {
    -fx-background-color: #5847AD;
}

.remove-button {
    -fx-background-radius: 0 0 10px 0;
}
